@charset "utf-8";

/*
 ★ Coding By DumiCode
 ★ homepage: http://www.dumicode.com
*/

/* font */
@import url("notosanskr.css");

/* default set */
@import url("base2018.css");

/* common*/
@import url("common.css");